@font-face {
    font-family: "Poppins";
    src: url("fuente/Poppins-Regular.ttf") format("truetype");
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.background{
    background-image: linear-gradient(45deg,#d37ec6 0%,  #ffc873 60%, #ff3867 100%);
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    margin-top: 8rem;
    margin-bottom:4rem;
    max-width: 28rem;
    width: 90%;
    z-index: 100;
    background-color: white;
    box-shadow: inset -1px -1px 12px 1px rgba(0,0,0,0.5);
    border-radius: 10px;
    font-family: "Poppins";
    display: grid;
    grid-template-rows: 12.5rem auto 4rem;
    grid-template-columns: 100%; 
    overflow: hidden;
}
.card__header{
height: 100%;
background-color:#E72E26;
position: relative;

}
.header__container{
    background: url(imagenes/21009.webp) no-repeat border-box, #000000;
    background-position: center;
    background-size: cover;
    height: 96%;
    margin: 0 1%;
    width: 98%;
    position: absolute;
    border-radius: 10px;
    top:2% 
}
.header__container-line{
    width: 100%;
    height: 100%;
    background-color:black;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 

}
.header__line{
    position: absolute;
    height: 40%;
    width: 113%;
    background: linear-gradient(to right,#89C1D6 40%,  #2C8C44);
    animation: rotateLine 3s alternate infinite ease-in-out;
}

.card__header .avatar{
    margin: 0 auto;
    transform: translateY(6rem);
    transform-origin: center;
    width: 128px;
    background-color: white;
    height: 128px;
    border-radius: 50%;
    border: 0.3rem solid black;
    background: url("imagenes/iSyEWc.webp") center/cover, #FBE500;
}

.card__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap:0.3rem;
    padding: 0 10px;
}

.main__title{
    margin: 0;
    font-family: "Montserrat";
    font-weight: 700;
}
.main__subtitle{
    color: #a05d5d;
    font-family: "Poppins";
    font-style: italic;
}
.main__svg{
 display: inline-block;
}
.main__summary{
    font-family: "Poppins";
    font-size: 1rem;
}
.main__button{
    color: black;
    border: 2px solid black ;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 1rem;
}
.card__footer{
display: grid;
grid-template-columns: repeat(3,auto);
border-top: 1px solid #888888;
}

.footer__item{
    border-right: 1px solid #888888;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer__item{
    color: #888888;
}
.item__svg-count,
.main__svg-subtitle{
    display: inline-block;
}
.footer__svg,
.main__svg-subtitle{
    float: left;
}
.count{
    color: black;
    margin-left: 4px;
   
}

#footer__item--whitout-border{
    border-right: none;
}

@keyframes rotateLine {
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(180deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}